.representative {
  height: 50%;
  cursor: pointer;
  background: white;
  border: 0.1em solid black;
}

.representative:hover {
  opacity: 0.50;
}

.representative-picture {
}

.representative-title {
}
