.app {
}

.topBar {
  display: flex;
}

.search {
  height: 40px;
  width: 90%;
  background-color: #999;
  padding: 10px;
}

.sentimentScore {
  height: 100px;
  background-color: red;
  width: 10%;
  padding: 10px;
}

.frequencyGraph {
  height: 400px;
  width: 100%;
  background-color: white;
}

.hashtagHistogram {
  height: 400px;
  width: 100%;
  background-color: #999;
}
